@media (max-width: 768px) {
    .header { 
        position: sticky; 
    } 

    .menu-toggle { 
        display: flex; /* Показываем гамбургер */ 
    } 

    .nav { 
        position: fixed; 
        top: 0; 
        right: -100%;
        width: 300px; 
        height: 100vh; 
        padding: 80px 30px 30px; 
        transition: right 0.5s ease; 
        z-index: 1000; 
        overflow-y: auto; 
    }

    .nav.active { 
        right: 0; 
    } 

    .nav__list { 
        flex-direction: column; 
        gap: 0; 
    } 

    .nav__item { 
        width: 100%; 
    } 

    .nav__link { 
        display: block; 
        width: 100%; 
        padding: 15px 0; 
        font-size: 18px; /* Увеличиваем для мобильных */ 
    } 

    .nav__link:hover{ 
            background: #2f3e53;
            font-weight: bold;
            padding-left: 10px;
            border-radius: 15px; 
    } 

    /* Затемнение фона при открытом меню */ 
    .nav-overlay { 
        visibility: hidden;
        opacity: 0; 
        position: fixed; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
        background: #2f3e5373; 
        transition: opacity 0.5s ease, visibility 0s 1.5s; 
        z-index: 999; 
    } 

    .nav-overlay.active { 
        visibility: visible;
        opacity: 100; 
        transition: opacity 0.5s ease, visibility 0s 0s; 
    } 

    /* Увеличиваем touch-зоны */ 
    .btn { 
        min-width: 120px; 
    } 

    .content-sign-coffee {
        padding: 20px 0;
    }

    .fs-20, p {
        font-size: 18px;
    }

    .fs-24{
        font-size: 20px;
    }

    .fs-36 {
        font-size: 30px;
    }

    .container {
        flex-wrap: wrap; 
    }
    
    .container-grid {
        width: 45%;
    }

    #signaturecoffee::before, 
    #coffeecombo::before {
        display: none;
    }

    .giftset-cart-flex {
        flex-wrap: wrap;
        justify-content: center;
    }

    .giftset-container-flex {
        margin: 0 auto;
        gap: 10px;
    }
    
    .giftset-text-grid {
        display: grid;
        justify-items: start;
        gap: 15px;
    }

    .scroll-top { 
        width: 52px; 
        height: 52px; 
        bottom: 20px; 
        right: 20px; 
    } 
}

@media (max-width: 575px) {
    .a-container-flex{
        display: flex;
        justify-items: center;
        position: relative;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;    
    }

    .a-container {
        width: 60%;
    }

    .a-card{
        margin: 0 10px;
    }

    .a-card-text{
        gap: 5px;
        padding: 10%;
    }

    .fs-20, p {
        font-size: 17px;
    }

    .fs-70 {
        font-size: 32px; 
    }

    .fs-24 {
        font-size: 18px;
    }

    .fs-36 { 
        font-size: 26px; 
    }
    
    .b-20 { 
        margin-left: 0; 
        padding: 5px 10px; 
    }

    .combo-container {
        margin: 15px;   
        width: 60%;
    }
    
    #signaturecoffee::before, 
    #coffeecombo::before {
        display: none;
    }

    .header-text {
        padding: 10px;
    }

    #coffee {
        margin: 50px auto -20px auto;
    }

}

@media (max-width: 399px) {
    .a-container-flex{
        display: flex;
        justify-items: center;
        position: relative;
        z-index: 2;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .m-50{
        margin: 10px;
    }

    .container{
        margin: 10px;
    }
    
    .logo-img{
        width: 100px;
        height: auto;
    }

    .fs-20, p {
        font-size: 14px;
    }

    .fs-24 {
        font-size: 16px;
    }

    .fs-70 { 
        font-size: 28px; 
    }

    .fs-36 { 
        font-size: 18px; 
    }
    
    .text-container {
        flex-direction: column;
        gap: 10px;
    }
    
    .p-box {
        width: 100%;
    }

    .a-container{
        width: 55%;
    }
}